body {
    background-color: #282828;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    align-items: flex-start;
}

#game-container {
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#leaderboard-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}

#title {
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    margin-top: 20px;
}

#game_board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

#finalmsg {
    color: #ffffff;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}

.guess_row {
    display: flex;
    gap: 5px;
}

.letter_box {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.correct_box {
    background-color: green;
}

.close_box {
    background-color: yellow;
}

.wrong_box {
    background-color: grey;
}

button {
    background-color: aquamarine;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    display: block;
    margin: 20px auto;
    font-weight: bold;
    font-size: 18px;
}

button:hover {
    background-color: #ff69b4;
    cursor: pointer;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leaderboard-header, .leaderboard-entry {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.leaderboard-header {
    font-weight: bold;
}
